<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="club_sport_project">
        <wb-resource deploy-path="/" source-path="/src/main/webContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <property name="context-root" value="club_sport_project"/>
        <property name="java-output-path" value="/club_sport_project/build/classes"/>
    </wb-module>
</project-modules>
