body {
	font-family: Arial, sans-serif;
	background-color: var(--main-bg-color);
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.login-form {
	background: white;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 4px 8px var(--form-shadow);
	width: 350px;
}

input[type="text"], input[type="password"] {
	width: calc(100% - 20px);
	padding: var(--input-padding);
	margin: 10px 0;
	border-radius: var(--input-border-radius);
	border: 1px solid #ccc;
	font-size: 16px;
}

input[type="submit"] {
	width: 100%;
	padding: var(--input-padding);
	background-color: var(--button-color);
	color: white;
	border: none;
	border-radius: var(--input-border-radius);
	cursor: pointer;
	font-size: var(--button-font-size);
	transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
	background-color: var(--button-hover-color);
}

.back-button {
	width: 10%;
	padding: 15px;
	background-color: green;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	border: none;
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s;
}

.search-container .back-button {
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.header1 {
	color: 9007FC;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5vh; /* Prend toute la hauteur de la vue */
	text-align: center;
}